*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* body .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.navbar {
    background-color: rgb(92, 91, 91);
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 10vh;
}

.navbar h1 {
    padding:0px 15px;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: monospace;
    color: #fafafa;
    text-shadow: 2px 2px 4px rgba(235, 240, 240, 0.911);
}



.navbar ul li {
    list-style: none;
    display: inline;
    float: right !important;
    color: fafafa;
    padding-right: 20px;
    font-size: 20px;
}

li:hover {
    color: whitesmoke;
    font-size: 22px;
    opacity: 0.8;
    cursor: pointer;
}
.navbar h1:hover{
    
    opacity: 0.9;
    cursor: pointer;
}
.box {
    background-color: #f2f2f2;
    width:100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    padding-top:90px;
}

.text-area {
    background-color: white;
    color: rgb(19, 18, 18);
    width:450px;
    height: 450px;
    text-align: left;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-left:10px;
    padding-top: 60px;
    margin: auto;
    /* box-shadow: 2px 4px 6px rgba(54, 54, 54, 0.7); */
    line-height: 35px;
    border-radius: 20px;
    
}

.text-area p {
    color: rgba(54, 54, 54, 1);
    font-size: 20px;
    word-spacing: 4px;
    
}

.img-area {
    /* background-color: rgba(240, 255, 255, 0.911); */
    
    width:850px;
    height: 450px;
    margin: auto;
    /* box-shadow: 2px 4px 6px rgba(54, 54, 54, 0.7); */
    border-radius: 20px;
    
}
.img-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* second design */

.box-1 {
    background-color: #fafafa;
    width:85%;
    margin: auto;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:90px;
    margin-bottom: 60px;
    box-shadow: 2px 3px 8px 0px rgb(150 149 149);
    border-radius: 55px;
}

.img-area-1{
    max-width: 600px;
    min-height: 20vh;
    margin-top: 20px;
    margin-bottom: 40px;
    
}

.text-area-1 {
    border-left: 10px solid rgb(108 99 255);
    max-width: 450px;
    margin-top: 20px;
    padding: 10px 40px;
    background-color: #fff;
    margin-bottom: 40px;
}
.text-area-1 p {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
}

.text-area-1 li {
    font-size: 17px;
    font-weight: 500;
}

.img-area-1 img {
    width: 100%;
    object-fit: contain;
}








@media all and (max-width:500px){
    
    .img-area {
        /* background-color: rgba(240, 255, 255, 0.911); */
        
        width:450px;
        height: 300px;
        margin: auto;
        /* box-shadow: 2px 4px 6px rgba(54, 54, 54, 0.7); */
        
        
    }
    .text-area p{
    color: #363636;
    font-size: 18px;
    font-weight: 450;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 2px;
    
}

.text-area {
    background-color: white;
    color: rgb(19, 18, 18);
    width:450px;
    max-height: 300px;
    text-align: left;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 10px 5px;
    margin: auto;
    margin-bottom: 10px;
    
    /* box-shadow: 2px 4px 6px rgba(54, 54, 54, 0.7); */
    
    
    
}
body{
    background: linear-gradient( #fff,#fafafa,#e6e3e3,#b3b0b0,rgba(234, 226, 250, 0.933),rgb(109, 107, 107),#fafafa,#fffefe,#fafafa,#e6e3e3,#b3b0b0,rgba(234, 226, 250, 0.933),rgb(109, 107, 107),#333,rgb(41, 40, 40));
}
.box {
    background-color: transparent;
    
    width:100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    padding-bottom:20px;
}
}